In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('depressive_unigram_tweets_final.csv')
df

C:\Users\91810\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (0,1,2,3,4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Unnamed: 0.1,cashtags,hashtags,id,time,tweet
0,0,0,[],[],1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid..."
1,1,1,[],[],1.15135E+18,21:25:07,what part of this was really harmfult of a lot...
2,2,2,[],"['#depression', '#uncoveringthenewu', '#change...",1.15135E+18,21:25:06,one of the ways I got through my #depression i...
3,3,3,[],[],1.15135E+18,21:24:55,see i wanna do one of them but they all say th...
4,4,4,[],[],1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...
...,...,...,...,...,...,...,...
2783571,225172,NaN,[],[],1.15237e+18,17:00:17,えっ？！オニィ結構なお歳……（今知った） 変な声でちゃった(笑)
2783572,225173,NaN,[],"['#physicianfriday', '#suicide', '#physicians'...",1.15237e+18,17:00:12,"#PhysicianFriday ""Let's empower doctors to tak..."
2783573,225174,NaN,[],"['#aztrauma', '#traumatraining', '#suicide', '...",1.15237e+18,17:00:01,A spike in suicides among teenage boys in the ...
2783574,225175,NaN,[],[],1.15237e+18,17:00:00,Need some support? Check out the following res...
2783575,225176,NaN,[],[],1.15237e+18,17:00:00,You can improve the quality of life for a frie...

In [6]:
import nltk
nltk.download(['punkt','stopwords'])
from nltk.corpus import stopwords
stopwords = stopwords.words('english')
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\91810\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\91810\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
df.isnull().any().any()

True

In [8]:
df.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2783576 entries, 0 to 2783575
Data columns (total 7 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    2783576 non-null  object
 1   Unnamed: 0.1  135497 non-null   object
 2   cashtags      1650586 non-null  object
 3   hashtags      1650586 non-null  object
 4   id            1650612 non-null  object
 5   time          1650612 non-null  object
 6   tweet         1650599 non-null  object
dtypes: object(7)
memory usage: 148.7+ MB

In [9]:
df_nonull = df[df['tweet'].notnull()]

In [11]:
df_nonull.info(null_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1650599 entries, 0 to 2783575
Data columns (total 7 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Unnamed: 0    1650599 non-null  object
 1   Unnamed: 0.1  135474 non-null   object
 2   cashtags      1650586 non-null  object
 3   hashtags      1650586 non-null  object
 4   id            1650599 non-null  object
 5   time          1650599 non-null  object
 6   tweet         1650599 non-null  object
dtypes: object(7)
memory usage: 100.7+ MB

In [13]:
df_nonull['vader_score'] = df_nonull['tweet'].apply(lambda x: analyzer.polarity_scores(x)['compound'])

C:\Users\91810\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
df_nonull.head()

,Unnamed: 0,Unnamed: 0.1,cashtags,hashtags,id,time,tweet,vader_score
0,0,0,[],[],1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",-0.2699
1,1,1,[],[],1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,-0.5995
2,2,2,[],"['#depression', '#uncoveringthenewu', '#change...",1.15135E+18,21:25:06,one of the ways I got through my #depression i...,0.3382
3,3,3,[],[],1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,-0.8643
4,4,4,[],[],1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,-0.8316

In [17]:
positive_num = len(df_nonull[df_nonull['vader_score'] >=0.05])
negative_num = len(df_nonull[df_nonull['vader_score']<0.05])
positive_num, negative_num

(49358, 1601241)

In [18]:
df_nonull['vader_sentiment_label']= df_nonull['vader_score'].map(lambda x:int(1) if x>=0.05 else int(0))
df_nonull.head()

C:\Users\91810\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Unnamed: 0,Unnamed: 0.1,cashtags,hashtags,id,time,tweet,vader_score,vader_sentiment_label
0,0,0,[],[],1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",-0.2699,0
1,1,1,[],[],1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,-0.5995,0
2,2,2,[],"['#depression', '#uncoveringthenewu', '#change...",1.15135E+18,21:25:06,one of the ways I got through my #depression i...,0.3382,1
3,3,3,[],[],1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,-0.8643,0
4,4,4,[],[],1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,-0.8316,0

In [19]:
group = df_nonull.groupby(df_nonull.vader_sentiment_label)
df_depress = group.get_group(0)

In [29]:
df_depress['tweet'][6969]

'Everybody know, you need to learn your f**kin lesson, I got depression'

In [22]:
df_depress

,Unnamed: 0,Unnamed: 0.1,cashtags,hashtags,id,time,tweet,vader_score,vader_sentiment_label
0,0,0,[],[],1.15135E+18,21:25:13,"Wow, my dad yday: “you don’t take those stupid...",-0.2699,0
1,1,1,[],[],1.15135E+18,21:25:07,what part of this was really harmfult of a lot...,-0.5995,0
3,3,3,[],[],1.15135E+18,21:24:55,see i wanna do one of them but they all say th...,-0.8643,0
4,4,4,[],[],1.15135E+18,21:24:51,IS IT clinical depression or is it the palpabl...,-0.8316,0
7,7,7,[],[],1.15135E+18,21:24:37,Hope it's working for you. I was on sertralin...,-0.3506,0
...,...,...,...,...,...,...,...,...,...
2783570,225171,NaN,[],[],1.15237e+18,17:00:18,https://youtu.be/WJ0OkkIDZug Deathnote is r...,-0.6705,0
2783571,225172,NaN,[],[],1.15237e+18,17:00:17,えっ？！オニィ結構なお歳……（今知った） 変な声でちゃった(笑),0.0000,0
2783572,225173,NaN,[],"['#physicianfriday', '#suicide', '#physicians'...",1.15237e+18,17:00:12,"#PhysicianFriday ""Let's empower doctors to tak...",-0.7964,0
2783573,225174,NaN,[],"['#aztrauma', '#traumatraining', '#suicide', '...",1.15237e+18,17:00:01,A spike in suicides among teenage boys in the ...,-0.8720,0
2783574,225175,NaN,[],[],1.15237e+18,17:00:00,Need some support? Check out the following res...,-0.6124,0

In [31]:
df_depress.drop(['Unnamed: 0','Unnamed: 0.1','cashtags','hashtags','id','time'],axis = 1, inplace=True)

C:\Users\91810\Anaconda3\lib\site-packages\pandas\core\frame.py:4170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [32]:
df_depress

,tweet,vader_score,vader_sentiment_label
0,"Wow, my dad yday: “you don’t take those stupid...",-0.2699,0
1,what part of this was really harmfult of a lot...,-0.5995,0
3,see i wanna do one of them but they all say th...,-0.8643,0
4,IS IT clinical depression or is it the palpabl...,-0.8316,0
7,Hope it's working for you. I was on sertralin...,-0.3506,0
...,...,...,...
2783570,https://youtu.be/WJ0OkkIDZug Deathnote is r...,-0.6705,0
2783571,えっ？！オニィ結構なお歳……（今知った） 変な声でちゃった(笑),0.0000,0
2783572,"#PhysicianFriday ""Let's empower doctors to tak...",-0.7964,0
2783573,A spike in suicides among teenage boys in the ...,-0.8720,0
2783574,Need some support? Check out the following res...,-0.6124,0

In [35]:
df_depress.to_csv('depressed_tweets.csv')